{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CinéFilms</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="site-header">
    <div class="header-main">
        <a href="/" class="logo">
            <span class="logo-box">CF</span>
            <span>CinéFilms</span>
        </a>

        <nav class="main-nav">
            <a href="/">Accueil</a>
            <a href="/films/">Films</a>
            <a href="/categories/">Catégories</a>
            <a href="/top-films/">Top films</a>

            {% if user.is_superuser %}
                <a href="/film/ajouter/">Ajouter un film</a>
            {% endif %}
        </nav>

        <div class="user-nav">
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="/deconnexion/">Déconnexion</a>
            {% else %}
                <a href="/connexion/">Connexion</a>
                <a href="/inscription/">Inscription</a>
            {% endif %}
        </div>
    </div>
</header>

<main class="page">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
