{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CinéScope</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="site-header">
    <div class="top-line"></div>

    <div class="header-content">
        <a href="/" class="brand">
            <div class="brand-logo">CS</div>
            <div>
                <strong>CinéScope</strong>
                <span>Films, avis et critiques</span>
            </div>
        </a>

        <nav class="main-nav">
            <a href="/">Accueil</a>
            <a href="/films/">Films</a>
            <a href="/categories/">Catégories</a>
            <a href="/top-films/">Top films</a>

            {% if user.is_superuser %}
                <a href="/film/ajouter/">Ajouter un film</a>
            	<a href="/admin-panel/">Admin</a>
	    {% endif %}
        </nav>

        <div class="account">
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="/deconnexion/">Déconnexion</a>
            {% else %}
                <a href="/connexion/">Connexion</a>
                <a class="account-btn" href="/inscription/">Inscription</a>
            {% endif %}
        </div>
    </div>
</header>

<main class="page">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
