{% extends "base.html" %}

{% block content %}

<section class="form-card">
    <h1>Inscription</h1>

    {% if erreur %}
        <p class="error">{{ erreur }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Nom utilisateur</label>
        <input type="text" name="username" required>

        <label>Mot de passe</label>
        <input type="password" name="password" required>

        <button type="submit">Créer le compte</button>
    </form>
</section>

{% endblock %}
